{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/registration/password_reset_form.css' %}">
  <link rel="stylesheet" href="{% static 'css/users/signup.css' %}">
  <title>비밀번호 찾기</title>
</head>
<body>
  <div id="passwordreset-container">
        <h3>비밀번호 찾기</h3>
      <form action="" method="POST" class="text-center">
      {% csrf_token %}
      <div class="passwordreset-form">
        <div class="form-group">
          <label for="id_email">이메일</label>
          {{ form.email }}  
        </div>
      </div>
      <div id="inputemail-container">
      <p>회원가입시 사용한 이메일을 입력해주세요.</p>
      </div>
      <div class="button-container">
        <button type="submit" class="button" value="Send email">비밀번호 초기화</button>
      </div>
    </form>
  </div>
</body>
</html>
{% endblock%}
