{% extends 'base.html' %}
{% load static %}
{% block content %}

  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/registration/password_reset_complete.css' %}">
  <link rel="stylesheet" href="{% static 'css/users/signup.css' %}">

  <div id="passwordreset-complete-container">
    <h3>새 비밀번호 설정</h3>
    <div id="passwordreset-complete">
      <h4>비밀번호가 성공적으로 변경되었습니다.</h4>
      <h2>새로운 비밀번호로 로그인해주세요.</h2>
      <div class ="button-container">
        <p><a href='{% url "landing:login" %}'>로그인</a></p>
    </div>
    </div>
{% endblock%}