
#findusername-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#findusername-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#findusername-container h3 {
    font-size: 32px;
    width: 100%;
    max-width: 805px;
    padding: 1rem 0rem;
    font-weight: bold;
    text-align: left;
    color: #333;
    border-bottom:1px solid #A7A7A7;
}
.findusername-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 20px 20px 20px;
    width: 100%;
    max-width: 685px;
    box-sizing: border-box;
}
.message-container{
    display: flex;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-around;
    color: red;
    text-decoration: none;
}

.message-container p{
    color: red;

}

@media (max-width: 767px){
    #findusername-container {
        padding: 0px;
    }

    #findusername-container form{
        width: 100%;
    }
    #findusername-container h3 {
        font-size: 24px;
        width: 100%;
        padding: 1rem;
        margin: 0;
        text-align: center;
    }
    .findusername-form{
        padding: 0;
        width: 100%;
    }
    .message-container{
        padding: 0;
        width: 100%;
    }

    .message-container p{
        color: red;

    }
}