body {

    display: flex;
    justify-content: center;
    align-items: center;

}
#usernameresult-container {
    display: flex;
    flex-direction: column;
    width: 805px;
    padding: 20px;
    background-color: #fff;
}

.usernameresult-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px 0px 60px;
    width: 685px;
    height: 250px;
    justify-content: center;
}

.usernameresult-form p{
    font-size: 20px;
    text-align: center;
}

.usernameresult-form strong{
    font-size: 20px;
    text-align: center;
    color:#FFCF33;
}