* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container_signup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

#back-button {
    margin-right: 10px;
}

#back-button a img {
    width: 24px;  /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
}
#container_signup h1 {
    text-align: center;
    width: 80%;
    color: #4A55A2;
    font-size: 24px;
}

#container_signup form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#container_signup label {
    margin-bottom: 5px;
    font-weight: bold;
    align-self: flex-start;
}

#container_signup input[type="text"],
#container_signup input[type="password"],
#container_signup input[type="tel"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%; /* Full width */
}

#container_signup input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4A55A2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

#container_signup input[type="submit"]:hover {
    background-color:#4A55A2;
}

#container_signup a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #4A55A2;
    text-decoration: none;
}

#container_signup a:hover {
    text-decoration: underline;
}

#container_signup ul {
    list-style: none;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 0;
}

#container_signup ul li {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
}

#header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; /* Ensure it spans the full width */
}

#back-button {
    margin-right: 10px;
}

#back-button a img {
    width: 24px;  /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
}
