html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
#login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
}

#header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#back-button {
    margin-right: 10px;
}

#back-button a img {
    width: 24px;  /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
}

#login-container h2 {
    color: #4A55A2;
    margin-bottom: 30px;
    font-size: 24px;
    padding-left: 90px;

}

#login-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#login-container li {
    color: red;
}

#login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-container label {
    display: none;
}

#login-container input[type="text"],
#login-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
}

#login-container input[type="submit"] {
    width: 70%;
    padding: 15px;
    background-color: #4A55A2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#login-container input[type="submit"]:hover {
    background-color: #4A55A2;
}

#login-container .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#login-container .checkbox-container input {
    margin-right: 10px;
}

#loginpage_promotion {
    margin-top: 70px;
    padding: 20px;
    background-color: #f0f0f0a8;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

#loginpage_promotion h1 {
    color: #4A55A2;
    font-size: 20px;
    margin: 0 0 20px 0;
}

#loginpage_promotion img {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
}
