.header__container {
    display: flex;
    
    height: 70px;
    background-color: #ffcf33;
    padding: 0 8rem;
    justify-content: space-between;
    align-items: center;
}

.left__container__login {
    height: 45px;
    width: 45px;
}

#prev_btn {
    height: 45px;
    width: 45px;
    border: none;
    background-color: #ffcf33;
}

#arrow_back {
    height: 45px;
    width: 45px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease, filter 0.3s ease;
}

#arrow_back:hover {
    transform: translateY(-3px);
    /* 마우스 오버 시 이미지가 위로 5px 이동 */
}

#logout_btn {
    width: 100px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logout_btn:hover {
    background-color: #ffffff;
}

#logout_btn:hover a {
    color: #ffcf33;
}

#logout_btn a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    margin-top: 0;
}

.center__container__login {
    display: flex;
}

.app__title {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}

.main_header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #ffffff;
    padding: 0 8rem;
}


.main_header__container a {
    text-decoration: none;
}

.main_left__container__session {
    display: flex;
}

.main_right__container__session {
    display: flex;
}

.main_app__small_title {
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
}

.main_app__title {
    color: #ffcf33;
    font-weight: bold;
    font-size: 1.5rem;
}

#main_mypage_btn {
    height: 35px;
    width: 35px;
    border: none;
    background-color: #ffffff;
    margin: 0 1rem;
    transition: transform 0.3s ease, filter 0.3s ease;
}

#main_mypage_btn a {
    margin-top: 0;
}

#mypage_icon {
    height: 35px;
    width: 35px;
    border: none;
    background-color: #ffffff;
}

#main_logout_btn {
    height: 35px;
    width: 35px;
    border: none;
    background-color: #ffffff;
    transition: transform 0.3s ease, filter 0.3s ease;
}

#main_logout_btn a {
    margin-top: 0;
}

#logout_icon {
    height: 35px;
    width: 35px;
    border: none;
    background-color: #ffffff;
}

#main_mypage_btn:hover {
    transform: translateY(-3px);
    /* 마우스 오버 시 이미지가 위로 5px 이동 */
}

#main_logout_btn:hover {
    transform: translateY(-3px);
    /* 마우스 오버 시 이미지가 위로 5px 이동 */
}

.search__bar {
    background-color: #ffcf33;
    display: flex;
    align-items: center;
    width: 23rem;
    border-radius: 20px;
    justify-content: flex-start;
    padding: 0 0.5rem;
}

.search-bar {
    border: none;
    width: 20rem;
    height: 1.5rem;
    outline: none;
    background-color: #ffcf33;
    font-size: 1rem;
    /* 글씨 크기 조정 */
}

.search-bar::placeholder {
    color: #ffffff;
}

.search {
    display: flex;
    align-items: center;
}

.search-btn {
    height: 25px;
    border: none;
    background-color: #ffcf33;
    transition: transform 0.3s ease, filter 0.3s ease;
    padding: 0 .5rem;
}

.search-btn:hover {
    transform: translateY(-3px);
    /* 마우스 오버 시 이미지가 위로 5px 이동 */
}

#search_btn_icon {
    height: 25px;
    width: 25px;
    border: none;
}

.board__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    background-color: #ffecad;
}

.board__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    /* 게시판 아이템 배치 */
    grid-auto-flow: column;
    grid-template-rows: repeat(5, auto);
    /* 최대 4개의 행 */
    gap: 0 1rem;
    overflow-x: auto;
    /* 가로 스크롤 활성화 */
    max-width: 70%;
    /* 최대 너비 설정 */
    padding: 0rem 1rem;
    height: 13rem;
}

#main_board__name {
    background-color: #ffecad;
    /* 임의 배경색 */
    border-radius: 10px;
    padding: 0.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    /* 최소 너비 설정 */
    justify-content: flex-start;
    min-width: 150px; /* 최소 너비 설정 */
}

#main_board__name a {
    text-decoration: none;
    color: black;
    margin-top: 0;
}

#button__container {
    flex-shrink: 0;
    /* 버튼 컨테이너 크기 고정 */
    margin: 5rem;
}

#button__container a {
    text-decoration: none;
}

#main_btn {
    background-color: #ffcf33;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 1rem 1rem;
    cursor: pointer;
    transition: color 0.5s ease;
}

#main_btn:hover {
    background-color: #ffd700;
}

#icon__box {
    width: 40px;
    height: 40px;
}

#plus {
    width: 40px;
    height: 40px;
}

#add-btn {
    text-decoration: none;
    margin-top: 1rem;
    color: black;
    font-weight: bold;
}

/* 기본 스크롤바 스타일 */
.board__container::-webkit-scrollbar {
    height: 8px;
    /* 기본 높이 */
}

.board__container::-webkit-scrollbar-thumb {
    background-color: #ffcf33;
    border-radius: 10px;
    transition: height 0.2s ease;
    /* 클릭 시 부드러운 전환 */
}

.board__container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

/* 스크롤바를 클릭했을 때 */
.board__container::-webkit-scrollbar-thumb:active {
    height: 12px; /* 클릭 시 높이를 늘려 두껍게 */
    background-color: #ffb600; /* 클릭 시 색상 변화 (선택 사항) */
}
@media (max-width: 960px) {
    .main_header__container{
        display: flex;
        align-items: center;
        height: 70px;
        background-color: #ffffff;
        justify-content: space-around;
        padding: 0 0;
    }   
    .board__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5rem;
        background-color: #ffecad;
    }
}
@media (max-width: 767px) {
    .main_header__container{
        display: flex;
        align-items: center;
        height: 70px;
        background-color: #ffffff;
        justify-content: space-evenly;
        padding: 0 0;
    }  
    .search__bar{
        background-color: #ffcf33;
        display: flex;
        align-items: center;
        width: 9rem;
        border-radius: 20px;
        justify-content: flex-start;
    } 
    .search-bar{
        border: none;
        width: 6.5rem;
        height: 1.5rem;
        outline: none;
        background-color: #ffcf33;
    }
    .main_app__icon{
        display: none;
    }
    #main_mypage_btn{
        height: 35px;
        width: 35px; 
        border: none;
        margin: 0 0.5rem;
        background-color: #ffffff;
        transition: transform 0.3s ease, filter 0.3s ease;
    }
    .board__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5rem;
        background-color: #ffecad;
    }
    .board__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr)); /* 게시판 아이템 배치 */
        grid-auto-flow: column;
        grid-template-rows: repeat(3, auto); /* 최대 4개의 행 */
        overflow-x: auto; /* 가로 스크롤 활성화 */
        max-width: 70%; /* 최대 너비 설정 */
        padding: 0rem 0rem;
        height: 10rem;
    }
    #button__container {
        flex-shrink: 0; /* 버튼 컨테이너 크기 고정 */
        margin: 0 0;
    }
}
