.c_b_frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c_b_title{
    font-family: "Pretendard", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8rem;
}
.c_b_h1{
    font-size: 24px;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem
}
.c_b_line{
    width: 80%;
    border-bottom: 1px solid #c2c2c2;
}
.c_b_container {
    max-width: 600px;
    margin: 50px 5rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: "Pretendard", sans-serif;
}
#id_board_name{
    margin: 1rem 0;
    font-family: "Pretendard", sans-serif;
}

/* 라벨과 입력 필드 정렬 */
.c_b_Html {
    margin-bottom: 15px;
}

.c_b_form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
input[type="text"]:focus, textarea:focus, select:focus{
    outline: 1px solid #ffd95c;
}

/* 버튼 스타일 */
.btn-primary {
    font-family: "Pretendard", sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background-color: #ffd700;
    color: #ffffff;
    border: 1px solid #ccc;
}
