

#createclub-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 100%;
    height: 700px;
    box-sizing: border-box;
}

#createclub-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#createclub-container h3 {
    font-size: 32px;
    width: 100%;
    max-width: 805px;
    padding: 1rem 0rem;
    font-weight: bold;
    text-align: left;
    color: #333;
    border-bottom:1px solid #A7A7A7;
}

.createclub-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 20px 20px 20px;
    width: 100%;
    max-width: 685px;
    box-sizing: border-box;

}

@media (max-width: 767px){


    #createclub-container {
        padding: 0px;
    }

    #createclub-container form{
        width: 100%;
    }
    #createclub-container h3 {
        font-size: 24px;
        width: 100%;
        padding: 1rem;
        margin: 0;
        text-align: center;
    }

    .createclub-form{
        padding: 0;
        width: 100%;

    }
}