#main__container {
    width: 100%;
    height: auto;
    min-height: 100%;
    padding-bottom: 120px;
}
#boards__container {
    background-color: white;
    margin: 1rem 130px;
}
#boards__ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

#boards__li {
    margin-top: 10px;
    border: 1px solid #ffecad;
    border-radius: 10px;
}
#board__name {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#boards__ul li h2 {
    padding: 10px;
}
#boards__ul li h2 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
#posts__ul{
    display: flex;
    flex-direction: column;
    padding: 0px 3rem;
}
#posts__ul a{
    border: 1px solid #ffecad;
    padding: 5px 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 0 1px 5px rgba(255, 255, 0, 0.3);
}
#posts__ul a:hover{
    background-color: #Ffe285;
}
#posts__li{
    display: flex;
    justify-content: space-between;
}
#post__name{
    color: black;
    font-weight: 600;
    font-size: 1rem;
}
#post__date{
    color: black;
    font-weight: 600;
    font-size: 0.8rem;
}
@media (max-width: 767px) {
    #boards__container {
        background-color: white;
        margin: 0 0;
    }
    #boards__ul {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        margin: 0 2rem;
    }
}