/* 전체 */
.p_d_container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

/* h태그 */
.p_d_h1 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.p_d_h2 {
    margin: 20px 0 10px 0;
    color: #333;
    text-align: center;
}

.p_d_h3 {
    margin-top: 20px;
    color: #333;
}

.p_d_h3_comment {
    margin-top: 20px;
    color: #333;
    text-align: center;
}

/* */
.board_name_box {
    background-color: #C5DFF8;
    display: flex;
    justify-content: center;
}

.p_d_p {
    line-height: 1.6;
    color: #555;
    margin-bottom: 10px;
}

/* hr */
.hr_1px {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #C5DFF8;
}

.hr_2px {
    margin: 20px 0;
    border: none;
    border-top: 2px solid #C5DFF8;
}

/* 폼 */
.p_d_comment_form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p_d_comment_form p {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.p_d_comment_form button {
    display: block;
    width: 10%;
    padding: 10px;
    background-color: #C5DFF8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.p_d_comment_form button:hover {
    background-color: #A0BFE0;
}

/* a 태그 (link) */
a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #4A55A2;
}

a:hover {
    text-decoration: underline;
}

/* 댓글 섹션 */
.p_d_comment-section {
    margin: 20px 0;
}

.p_d_comment {
    margin-bottom: 20px;
}

.p_d_comment p {
    margin: 5px 0;
}

.p_d_comment-author {
    font-weight: bold;
    color: #333;
}

.p_d_image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    max-height: 500px;
}