@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


body {
    font-family: "Pretendard", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#post_list {
    padding: 4rem 8rem;
    font-family: "Pretendard", sans-serif;
}

#board__title {
    padding: .8rem .5rem;
    margin-top: .5rem;
    background-color: white;
    text-decoration: none;
    font-family: "Pretendard", sans-serif;
}

#board__title a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 1.8rem;
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 0.5rem;
}


#delete-box {
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
    font-family: "Pretendard", sans-serif;
}

#delete {
    margin-top: 10px;
    font-family: "Pretendard", sans-serif;
}

#delete button {
    background-color: #ffecad;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1.6rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: .5rem;
}

#delete button:hover {
    background-color: #ffc400;
}

/* .search__bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 0.5rem;
    flex-direction: row-reverse;
}

.search__bar input[type="search"] {
    flex-grow: 1;
    border: 1px solid #E0E0E0;
    border-radius: .5rem;
    padding: .5rem;
    background-color: #ffecad;
}

.search__bar button {
    background-color: #FFCF33;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1.6rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search__bar button:hover {
    background-color: #ffc400;
} */

#board__container {
    margin-bottom: 1rem;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    /* 전체 컨테이너 내에서 오른쪽 정렬 */
    width: 100%;
    /* 필요시 컨테이너의 너비를 100%로 설정 */
}

.board-search__bar {
    display: flex;
    align-items: center;
    /* 중앙 정렬 */
    height: 2.2rem;
    /* 헤더 검색창의 높이와 동일하게 설정 */
}

.search-bar {
    height: 100%;
    /* 부모의 높이를 상속받아 동일한 높이로 설정 */
    box-sizing: border-box;
    /* padding이 포함된 전체 높이를 설정 */
    font-size: 1rem;
    /* 글씨 크기 조정 */
    border-radius: 5px;
    /* 모서리 둥글게 설정 */
}

#new_post,
#post__ul li {
    border: 1px solid #E0E0E0;
    /* border-radius: 0.5rem; */
    padding: 1rem;
    /* background-color: #F7F7F7; */
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    transition: background-color 0.3s ease-in-out;
}

#new_post,
#post__ul_pinned li {
    border: 1px solid var(--color-line);
    padding: 1rem;
    background-color: #ffecad;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    transition: background-color 0.3s ease-in-out;
}

#new_post:hover,
#post__ul li:hover {
    /* transform: translateY(-3px); */
    background-color: #f0f0f0;
}

#new_post:hover,
#post__ul_pinned li:hover {
    /* transform: translateY(-3px); */
    background-color: #ffc400;
}

#new_post {
    margin: 0.5rem 0;
}

#new_post a {
    color: black;
    text-decoration: none;
}

#post__ul {
    display: flex;
    flex-direction: column;
    /* gap: .5rem; */
    list-style: none;
    padding-left: 0;
    /* border-top: 1px solid var(--color-line); */
}

#post__ul a {
    color: black;
    text-decoration: none;
}

#post__ul li {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-bottom: 10px;
    border-top: none;
}

#post__ul_pinned {
    display: flex;
    flex-direction: column;
    /* gap: .5rem; */
    list-style: none;
    padding-left: 0;
    /* margin-bottom: .5rem; */
    border-top: 1px solid var(--color-line)
}

#post__ul_pinned a {
    color: black;
    text-decoration: none;
}

#post__ul_pinned li {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-bottom: 10px;
    border-top: none
}


#post__title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333333;
}

#post__description {
    display: grid;
    grid-template-columns: 0.5fr 1.4fr 0.6fr;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #666666;
}

#post__description p {
    margin: 0;
}

#post__description span {
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#post__created,
#post__user {
    font-size: 0.75rem;
    color: #666666;
}

#post__stats {
    display: flex;
    gap: 10px;
}

#post__stats p {
    font-size: 0.75rem;
    color: #333333;
}

#to_main {
    background-color: #FFCF33;
    border: none;
    padding: .5rem 1.6rem;
    border-radius: .3rem;
    margin: 0.5rem 0;
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

#to_main a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#to_main:hover {
    background-color: #ffc400;
}

#post__ul a:hover {
    color: black;
    text-decoration: none;
}

/* Form Container */
#post-form-container {
    border: 1px solid #E0E0E0;
    border-radius: 0.5rem;
    background-color: #F7F7F7;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#form-button {
    text-align: right;
}

/* Form Fields */
#post-form input[type="text"],
#post-form textarea,
#post-form input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #E0E0E0;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

/* Buttons */
#post-form .btn {
    background-color: #FFCF33;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 0.5rem;
}

#post-form .btn-success:hover,
#post-form .btn-secondary:hover {
    background-color: #ffc400;
}

/* Align Buttons */
#post-form button {
    margin-top: 0.5rem;
}

#post-form label {
    font-weight: 600;
    margin-bottom: 0.3rem;
    display: block;
}

/* Form Fields */
#post-form-container .form-group,
#post-form-container .form-group-inline {
    margin-bottom: 1rem;
}

#post-form-container .form-group-inline {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

#post-form-container label {
    font-weight: 600;
    margin-right: 0.5rem;
}

#post-form-container .form-group-inline label {
    margin-right: 0;
}

#post-form-container input[type="text"],
#post-form-container textarea,
#post-form-container input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #E0E0E0;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

/* 스타일링된 파일 선택 버튼 */
#post-form input[type="file"] {
    padding: 0.5rem 1rem;
    border: 1px solid #E0E0E0;
    border-radius: 0.5rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#post-form input[type="file"]::-webkit-file-upload-button {
    /* background-color: #FFCF33; */
    color: black;
    border: 1px solid #E0E0E0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#post-form input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #FFCF33;
}

/* New Post Container */
#new_post {
    border: 1px solid #E0E0E0;
    border-radius: 0.5rem;
    padding: 1rem;
    /* background-color: #F7F7F7; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#new_post:hover {
    transform: translateY(-3px);
    background-color: #FFCF33;
}

/* New Post Button */
#new_post .btn {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0;
    font-weight: 600;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

#post_list {
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    gap: var(--gap-value);
    align-items: center;
}

#show-post-form {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #ffecad;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: .5rem 0;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    display: block;
}

#show-post-form:hover {
    transform: translateY(-3px);
    background-color: #FFCF33;
}

#show-post-form {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #ffecad;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: .5rem 0;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    display: block;
}

#show-post-form:hover {
    transform: translateY(-3px);
    background-color: #FFCF33;
}

.side__container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-value);
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
    height: 100%;
}

.best__container {
    /* margin-top: 4rem; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-value);
    background-color: var(--color-yellow-4);
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 251px;
    z-index: 900;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    height: fit-content;
}

.profile__container {
    margin-top: 4rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-value);
    background-color: var(--color-yellow-4);
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 80px;
    z-index: 900;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    height: fit-content;
}

#mypage__btn {
    background-color: #ffecad;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1.6rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: .5rem;
}

.board__title {
    font-weight: 700;
    font-size: 1.3rem;
}

.best__ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile__container .best__ul {
    gap: 10px;
}

.mypage__container {
    display: flex;
    justify-content: center;
}

.profile-bold-text {
    font-weight: bold;
}

.best__name>a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
}

.time__container {
    font-size: .7rem;
    color: #A7A7A7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.state__container {
    display: flex;
    gap: 0.6rem;
    justify-content: flex-end;
}

.state__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.like__container,
.comment__container,
.scrap__container {
    margin-right: .4rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.like__container>img,
.comment__container>img,
.scrap__container>img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    overflow: hidden;
}

.like__description,
.scrap__description,
.comment__description {
    font-size: .7rem;
    margin-right: 0 !important;
}

.like__description {
    color: #F24E1E;
}

.scrap__description {
    color: var(--color-yellow-1);
}

.comment__description {
    color: #699BF7;
}

@media (max-width: 767px) {
    #post_list {
        padding: 0 2rem;
    }

    #post_list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .board-search__bar {
        width: 100%;
    }

    .search {
        width: 100%;
    }

    .search-bar {
        width: 100%;
    }

    #post__description {
        grid-template-columns: 0.5fr 0.8fr 0.6fr;
    }

    .profile__container {
        display: none;
    }
}