@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* icon 35px */
:root {
    --padding-lr: 8rem;
    --color-line: #A7A7A7;
    --color-yellow-1: #FFCF33;
    --color-yellow-2: #FFD95C;
    --color-yellow-3: #FFECAD;
    --color-yellow-4: #FEF9DF;
    --gap-value: 20px;
    --padding-value: 8rem;
}

body {
    font-family: "Pretendard", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: var(--color-yellow-1);
    border: 2px solid var(--color-yellow-1);
    border-radius: 1.2rem;
    padding: .2rem .5rem;
    color: white;
    cursor: pointer;
}

.detail__main {
    border-collapse: collapse;
}

.hr_2px {
    color: var(--color-line);
    background-color: var(--color-line);
}

.comment-author {
    display: flex;
    justify-content: space-between;
}

.p_d_p>div {
    font-weight: 700;
}

.content__title {
    font-size: 1.3rem;
    font-weight: 700;
}

a,
a>div {
    text-decoration: none;
    color: black;
    font-family: "Pretendard", sans-serif;
}

.time__container {
    font-size: .7rem;
    color: #A7A7A7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.time__container__com {
    font-size: .7rem;
    color: #A7A7A7;
    padding-top: 10px;
}

.content__container,
.p_d_comment {
    border: 1px solid var(--color-line);
    padding: 1rem;
}

.content__container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-value);
}

.title__container {
    display: flex;
    flex-direction: column;
}

.board_name_box {
    padding: 10px 1rem;
    display: flex;
    justify-content: space-between;
}

.board__name {
    font-weight: 800;
    font-size: 1.8rem;
}

.detail__container {
    padding: 4rem 8rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    gap: var(--gap-value);
    align-items: center;
}

.side__container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-value);
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
    height: 100%;
}

.state__container {
    display: flex;
    gap: 0.6rem;
}

.state__content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.like__container,
.comment__container,
.scrap__container {
    margin-right: .4rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.like__container>img,
.comment__container>img,
.scrap__container>img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    overflow: hidden;
}

.icon__description {
    font-family: "Pretendard", sans-serif;
}

.like__description,
.scrap__description,
.comment__description {
    font-size: .7rem;
}

.like__description {
    color: #F24E1E;
}

.scrap__description {
    color: var(--color-yellow-1);
}

.comment__description {
    color: #699BF7;
}

.p_d_comment_form {
    display: grid;
    grid-template-columns: 10fr 1.5fr 0 1fr;
    background-color: #f5f5f5;
    height: auto;
    border-left: 1px solid var(--color-line);
    border-right: 1px solid var(--color-line);
    border-bottom: 1px solid var(--color-line);
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
}

.p_d_comment_form>div {
    display: table-cell;
}

.p_d_comment_form>div:first-child {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_d_comment_form div:nth-of-type(2) {
    display: flex;
    justify-content: space-evenly;
}

.p_d_comment_form div:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_d_comment_form input {
    border-bottom: 1px solid var(--color-line);
}

#id_parent_id {
    display: none;
}

.p_d_comment_form div label,
.anony__div {
    font-size: .7rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p_d_comment_form input,
.reply__input {
    width: 100%;
    margin: 0;
    background-color: transparent;
    padding: 10px;
    border: none;
    outline: none;
}

.button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 35px;
    height: 100%;

}

.submit__button {
    width: 30px;
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    background-image: url(/static/image/send__icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#id_anonymous,
.anony {
    margin: 0;
    padding: 0;
    width: 25%;
    accent-color: var(--color-yellow-1);
    border: none;
    cursor: pointer;
}

.post-actions {
    display: flex;
    gap: 5px;
}

.reply-form {
    display: none;
    background-color: #f5f5f5;
    border: 1px solid var(--color-line);
    width: 93.%;
    margin-left: 2rem;
    grid-template-columns: 9fr 1.3fr 0fr 1fr;
    align-items: center;
}

.reply-form.show {
    display: grid;
    margin-top: 10px;
}

.reply__input {
    width: 80%;
}

.anony__div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.anony {
    width: 15.8px;
}

.hidden__type {
    display: none;
}

.p_d_comment_reply {
    margin-left: 2rem;
    border: 1px solid var(--color-line);
    background-color: var(--color-yellow-4);
    padding: 1rem;

}

.p_d_comment_reply:not(:first-of-type),
.p_d_comment {
    border-top: none;
}

.p_d_comment_reply:last-of-type {
    border-bottom: 1px solid var(--color-line);
}

.comment__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.comment__title>div {
    font-weight: 700;
}

.title__buttons {
    display: flex;
    gap: 5px;
}

.delete__btn,
.reply__btn {
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
}

.delete__btn,
.reply__btn {
    padding: 0;
}

.list__btn {
    background-color: var(--color-yellow-1);
    border: 2px solid var(--color-yellow-1);
    border-radius: 1.2rem;
    padding: 1rem 1rem;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 12%;
}

.best__container {
    /* margin-top: 4rem; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-value);
    background-color: var(--color-yellow-4);
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 251px;
    z-index: 900;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    height: fit-content;
}

.profile__container {
    margin-top: 3rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-value);
    background-color: var(--color-yellow-4);
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 80px;
    z-index: 900;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    height: fit-content;
}

#mypage__btn {
    background-color: #ffecad;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1.6rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: .5rem;
}

.profile__container .best__ul {
    gap: 10px;
}

.mypage__container {
    display: flex;
    justify-content: center;
}

.profile-bold-text {
    font-weight: bold;
}

.board__title {
    font-weight: 700;
    font-size: 1.3rem;
}

.best__ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.best__name>a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 30px;
    }

    .detail__container {
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-value);
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .list__btn {
        width: 100%;
    }

    .board_name_box {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #d6d6d6;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        display: flex;
        align-items: center;
        z-index: 1100;
    }

    .board__name {
        font-size: 1.5rem;
        color: var(--color-yellow-1);
    }

    .detail__main {
        width: 100%;
    }

    .content__container {
        box-sizing: border-box;
    }

    .side__container {
        display: none;
    }
}