{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/mypage/mypage.css' %}">

<div class="mypage__container">
    <div class="title__container">
        <h1 class="page__title">마이페이지</h1>
        <hr class="page__title_hr">
    </div>
    <div class="decoration__box">
        <div class="icon__container">😆</div>
        <div class="icon__container__text">
            <p>아래의 기능들이 당신의 동아리타임을 더 풍부하게 도와줄거예요!</p>
        </div>
    </div>
    <div class="content__container__1">
        <div class="content__container">
            <a href="{% url 'landing:update' %}" class="function__container">
                <h2 class="func__title">닉네임 변경 🫧</h2>
            </a>
            <div class="function__container">
                <h2 class="func__title">비밀번호 변경 🔐</h2>
            </div>
            <a href="{% url 'mypage:manage_clubs' %}" class="function__container">
                <h2 class="func__title">내 동아리 관리 🤝</h2>
            </a>
        </div>
    </div>
    <div class="content__container__2">
        <div class="content__container__text">
            <div class="func__description__container">
                <p class="func__description func__description__1">당신의 동아리타임 닉네임을 바꿔볼까요?</p>
            </div>
            <div class="func__description__container">
                <p class="func__description func__description__2">쉿 비밀번호는 최대한 어렵게!</p>
            </div>
            <div class="func__description__container">
                <p class="func__description func__description__3">동아리 이동과 삭제가 가능해요!</p>
            </div>
        </div>
    </div>
    <div class="content__container__1">
        <div class="content__container">
            <a href="{% url 'mypage:myposts' %}" class="function__container">
                <h2 class="func__title">내가 쓴 글 🔎</h2>
            </a>
            <a href="{% url 'mypage:mycomments' %}" class="function__container">
                <h2 class="func__title">내 댓글 💭</h2>
            </a>
            <a href="{% url 'mypage:myscraps' %}" class="function__container">
                <h2 class="func__title">스크랩 📌</h2>
            </a>
        </div>
    </div>
    <div class="content__container__2">
        <div class="content__container__text">
            <div class="func__description__container">
                <p class="func__description func__description__4">어떤 게시글을 올렸는지 궁금한가요?</p>
            </div>
            <div class="func__description__container">
                <p class="func__description func__description__5">그동안 당신은 어떤 댓글을 남겼을까요?</p>
            </div>
            <div class="func__description__container">
                <p class="func__description func__description__6">스크랩한 게시글을 모아봤어요!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}