{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/community/create_club.css' %}">
<link rel="stylesheet" href="{% static 'css/users/signup.css' %}">
    <div id="createclub-container">
        <h3>동아리 생성</h3>
        <form method="post" action="{% url 'community:create_club' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class = "createclub-form">
                <div class = "form-group">
                    <label for="club_name">동아리명</label>
                    {{ form.club_name }}
                </div>
                <div class = "form-group">
                    <label for="club_num">동아리 인증 번호</label>
                    {{ form.club_num }}
                </div>
            </div>
            {% if form.club_name.errors %}
            <div class="message-container">
                {% for error in form.club_name.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}
            <div class="button-container">
                <button type="submit" class="button">동아리 생성</button>
            </div>
        </form>
    </div>

{% endblock content %}