{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
<link rel="stylesheet" href="{% static 'css/community/main.css' %}" />
{% endblock %}
{% block content %}
<div id="main__container">
    여기 메인
    <br>
    <h3>현재 동아리 : {{ club_name }}</h3>
    <br>
    <div>
        <a href="{% url 'community:select_club' %}">동아리 변경</a>
        <a href="{% url 'landing:club_auth' %}">동아리 추가 인증</a>
    </div>
    <br>
    <div>
        <a href="{% url 'mypage:myposts' %}">내가 쓴 글</a>
        <a href="{% url 'mypage:mycomments' %}">내가 댓글 단 글</a>
    </div>
    <div>
        <a href="{% url 'mypage:main' %}">마이페이지</a>
    </div>
    <div id="boards__container">
        <ul id="boards__ul">
            {% for board in boards %}
            <li>
                <h2 id="board__name"><a href="{% url 'community:post_list' board.id %}">{{ board.board_name }}</a></h2>
                <ul id="posts__ul">
                {% with board_posts|get_item:board.id as posts %}
                    {% for post in posts %}
                        <li>
                            <h2 id="post__name"><a href="{% url 'community:post_detail' board.id post.id %}">{{ post.title }}</a></h2>
                        </li>
                    {% endfor %}
                {% endwith %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <div id="button__container"><button id="main_btn"><a href="{% url 'community:create_board' %}">
                    <div id="select__box">
                        <div id="icon__box">➕</div>게시판 추가
                    </div>
                </a></button></div>
    </div>
    <div class="best__container">
        <ul class="best__ul">
            {% for post in posts_best %}
            {% if post.liked_cnt >= 5 %}
                <li class="best__li">
                    <div class="best__name"><a href="{% url 'community:post_detail' post.board_id.id post.id %}">{{ post.title }}</a></div>
                </li>
                    {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}