{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block head %}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
<link rel="stylesheet" href="{% static 'css/community/main.css' %}" />
<div id="main__container">
    <div id="boards__container">
        <ul id="boards__ul">
            {% for board in boards %}
            <li id="boards__li">
                <h2 id="board__name"><a href="{% url 'community:post_list' board.id %}">{{ board.board_name }}</a></h2>
                <ul id="posts__ul">
                {% with board_posts|get_item:board.id as posts %}
                    {% for post in posts %}
                    <a href="{% url 'community:post_detail' board.id post.id %}">
                        <li id="posts__li">
                            <h2 id="post__name">
                                {{ post.title }}
                            </h2>
                            <h2 id="post__date">
                                {{ post.created_time|date:"n/j" }}
                            </h2>
                        </li>
                    </a>
                    {% endfor %}
                {% endwith %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="best__container">
        <ul class="best__ul">
            {% for post in posts_best %}
                <li class="best__li">
                    <div class="best__name"><a href="{% url 'community:post_detail' post.board_id.id post.id %}">{{ post.title }}</a></div>
                </li>
                    {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}