<!-- 게시글 상세 페이지 (경로 : 게시판 페이지에서 게시글 클릭 시) -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>{{ board.board_name }}</h1>
<p>작성자: 
    {% if post.user_id and not post.anonymous %}
        {{ post.user_id.username }}
    {% else %}
        익명
    {% endif %}
    | 작성일시: {{ post.created_time }}
</p>
<h2>{{ post.title }}</h2>
<p>{{ post.content }}</p>
<p>댓글: {{ comments.count }}</p>
<hr>
<h3>댓글</h3>
{% for comment in comments %}
    <p>작성자: 
        {% if comment.user_id and not comment.anonymous %}
            {{ comment.user_id.username }}
        {% else %}
            익명
        {% endif %}
        | 작성일시: {{ comment.created_time }}
    </p>
    <p>{{ comment.content }}</p>
    <hr>
{% endfor %}
<h3>댓글 작성</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">댓글 작성</button>
</form>


{% endblock content %}
