{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}" />
<link rel="stylesheet" href="{% static 'css/community/post_list.css' %}" />
<div id="post_list">
    <div id="post_container">
        <div class="board-header">
            <h1 id="board__title">
                '{{ searched }}' 검색 결과
            </h1>
        </div>
        <div id="board__container">       
            <ul id="post__ul_pinned">
                {% for post in posts %}
                {% if post.pinned %}
                <a href="{% url 'community:post_detail' post.board_id.pk post.id %}">
                    <li class="post_pinned_container">
                        <h2 id="post__title">
                            <img src="../../static/image/pinned_icon.png" alt="고정"
                                style="vertical-align: middle; width: 20px; height: 20px;" />
                            {{ post.title }}
                        </h2>
                        <p id="post__content">{{ post.content|truncatewords:20 }}</p>
                        <div id="post__description">
                            <p id="post__created">{{ post.created_time|date:"Y/m/d" }}</p>
                            <!-- 공지게시판일 경우 무조건 실명으로 표시 -->
                            {% if board.board_name == "공지게시판" %}
                            <p id="post__user">{{ post.user_id.name }}</p>
                            {% elif post.anonymous is True %}
                            <p id="post__user">익명</p>
                            {% else %}
                            <p id="post__user">{{ post.user_id.nickname }}</p>
                            {% endif %}
                            <div id="post__stats">
                                <p>댓글 수: {{ post.comment_set.count }}</p>
                                <p>좋아요 수: {{ post.liked_by.count }}</p>
                                <p>스크랩 수: {{ post.scraped_by.count }}</p>
                            </div>
                        </div>
                    </li>
                </a>
                {% endif %}
                {% endfor %}
            </ul>

            <ul id="post__ul">
                {% for post in posts %}
                {% if not post.pinned %}
                <a href="{% url 'community:post_detail' post.board_id.pk post.id %}">
                    <li>
                        <h2 id="post__title">{{ post.title|truncatewords:10 }}</h2>
                        <p id="post__content">{{ post.content|truncatewords:20 }}</p>
                        <div id="post__description">
                            <p id="post__created">{{ post.created_time|date:"Y/m/d" }}</p>
                            <!-- 공지게시판일 경우 무조건 실명으로 표시 -->
                            {% if board.board_name == "공지게시판" %}
                            <p id="post__user">{{ post.user_id.name }}</p>
                            {% elif post.anonymous is True %}
                            <p id="post__user">익명</p>
                            {% else %}
                            <p id="post__user">{{ post.user_id.nickname }}</p>
                            {% endif %}
                            <div id="post__stats">
                                <p>댓글 수: {{ post.comment_set.count }}</p>
                                <p>좋아요 수: {{ post.liked_by.count }}</p>
                                <p>스크랩 수: {{ post.scraped_by.count }}</p>
                            </div>
                        </div>
                    </li>
                </a>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="best__container">
        <ul class="best__ul">
            {% for post in posts_best %}
            {% if post.liked_cnt >= 5 %}
            <li class="best__li">
                <div class="best__name"><a href="{% url 'community:post_detail' post.board_id.id post.id %}">
                        {{ post.title }}</a>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<script src="{% static 'js/community/post_list.js' %}"></script>
{% endblock %}