{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/community/select_club.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/signup.css' %}">

<div id = "selectclub-container">
        <h3>동아리 선택</h3>
    <div class="selectclub-container-form">
        <form method="post">
            {% csrf_token %}
            <select name="club_id">
                {% for auth_club in user_clubs %}
                <option value="{{ auth_club.club_id.id }}">{{ auth_club.club_id.club_name }}</option>
                {% endfor %}
            </select>
    </div>
        <button type="submit" class="btn btn-primary">선택하기</button>
    </form>
</div>
{% endblock %}