body {

    display: flex;
    justify-content: center;
    align-items: center;

}


#passwordreset-complete-container{
    display: flex;
    flex-direction: column;
    width: 805px;
    padding: 20px;
    background-color: #FEF9DF;
    border-radius: 20px;
}
#passwordreset-complete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 60px 0px 60px;
    width: 685px;
    height: 220px;
    justify-content: center;
}
#passwordreset-complete h4{
    font-size: 25px;
    padding: 14px 0px 14px 0px;
    font-weight: bold;
    text-align: center;
}
#passwordreset-complete h2{
    font-size: 15px;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    text-align: center;
}