body {

    display: flex;
    justify-content: center;
    align-items: center;

}

#passwordreset-container{
    display: flex;
    flex-direction: column;
    width: 805px;
    padding: 20px;
    background-color: #fff;
}

#inputemail-container{
    display: flex;
    width: 805px;
    padding: 20px 60px;
    width: 687px;
    display: flex;
    justify-content: space-around;
    color: blue;
    text-decoration: none;
}
.passwordreset-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 60px 0px 60px;
    width: 685px;
    justify-content: center;
}