@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --padding-lr: 8rem;
    --color-line: #C2C2C2;
    --color-yellow-1: #FFCF33;
    --color-yellow-2: #FFD95C;
    --color-yellow-3: #FFECAD;
    --color-yellow-4: #FEF9DF;
    --gap-value: 20px;
    --padding-value: 8rem;

}

html {
    font-family: "Pretendard", sans-serif;
    scrollbar-gutter: stable;
}

#disappear {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 990;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0,
            0 100%,
            20% 100%,
            20% 35%,
            80% 35%,
            80% 65%,
            20% 65%,
            20% 100%,
            100% 100%,
            100% 0);
    animation: changeClipPath .5s 3s ease forwards;
}

.first__container {
    position: absolute;
    width: 60vw;
    height: 30vh;
    left: 20vw;
    top: 35vh;
    z-index: 999;
    background-color: var(--color-yellow-1);
    clip-path: inset(0 0 0 0);
    animation: disappear 2s ease forwards;
    animation-delay: 1s;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.first__container>p {
    font-family: "Pretendard", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    padding-right: 3rem;
    padding-bottom: 2rem;
}

.second__icon {
    position: absolute;
    width: 100vw;
    height: 500px;
    top: calc(50vh - 250px);
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    animation: removebackground .001s forwards, moveicon 1.5s ease forwards;
    animation-delay: 3s;
}

.second__icon img {
    object-fit: contain;
    overflow: hidden;
    width: 6rem;
    border-radius: 100%;
    z-index: 900;
    animation: wiggle 1s ease-in-out infinite;
    transition: transform 0.3s ease;
}

.second__icon img:hover {
    transition: transform 0.3s;
    transform: scale(1.2);
}

@keyframes disappear {
    0% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 0 0 100%);
    }
}

@keyframes changeClipPath {
    0% {
        clip-path: polygon(0 0,
                0 100%,
                20% 100%,
                20% 35%,
                80% 35%,
                80% 65%,
                20% 65%,
                20% 100%,
                100% 100%,
                100% 0);
    }

    100% {
        clip-path: polygon(0 0,
                0 100%,
                0 100%,
                0 0,
                100% 0,
                100% 100%,
                0 100%,
                0 100%,
                100% 100%,
                100% 0);
    }
}

@keyframes removebackground {
    0% {
        background-color: white;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes moveicon {
    0% {}

    100% {
        height: 6rem;
        top: 8vh;
        left: -11vw;
    }
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(-6deg);
    }

    50% {
        transform: rotate(6deg);
    }
}

.landing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-value);
    margin: var(--padding-value);
    scrollbar-gutter: stable;
}

#main__content {
    transition: opacity 1s ease;
}

.introducion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title {
    font-family: "Pretendard", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    z-index: 950;
}

.description p {
    text-align: center;
    font-family: "Pretendard", sans-serif;
}

.select__container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

#signup_btn,
#login_btn {
    border: 2px solid var(--color-yellow-1);
    border-radius: 1.2rem;
    width: 7rem;
    height: 3.2rem;
}

#signup_btn {
    background-color: var(--color-yellow-1);
}

#login_btn {
    background-color: white;
}

#signup_btn,
#login_btn {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Pretendard", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup_btn:hover,
#login_btn:hover {
    transform: translateY(-3px);
    transition: .5s;
}

.main__img__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.main__img__container>img {
    object-fit: contain;
    overflow: hidden;
    width: 80%;
}

/* 반응형 필요한 부분 */
.function__container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

.description__left,
.description__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.description__left.is-visible,
.description__right.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.function__description {
    display: flex;
    flex-direction: column;
    gap: var(--gap-value);


}


.function__icon {}

.function__img__left,
.function__img__right {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.function__img__left {
    justify-content: flex-start;
}

.function__img__right {
    justify-content: flex-end;
}

.function__img__right>img,
.function__img__left>img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.function__name,
.service__title {
    font-family: "Pretendard", sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

.function__detail {
    font-family: "Pretendard", sans-serif;
    font-size: 1rem;
    color: var(--color-yellow-1);
}

.service__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
}

.service__title {
    text-align: center;
    font-family: "Pretendard", sans-serif;
}

/* 반응형 필요한 부분 */
.service__content {
    padding-top: var(--gap-value);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    grid-auto-flow: dense;
}

.services {
    display: flex;
    flex-direction: column;
    /* gap: var(--gap-value); */
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.service__icon {
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.service__icon>img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    overflow: hidden;
}

.service__name {
    font-family: "Pretendard", sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    text-align: center;
}

.service__detail {
    font-family: "Pretendard", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    height: 60px;
}


.services:hover {
    transition: transform 0.5s;
    transform: scale(1.03) translateY(-10px);
    background-color: var(--color-yellow-4);
}

.footer_content {
    height: 120px;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #f9f9f9;
    font-family: "Pretendard", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

@media (max-width: 1145px) {
    @keyframes moveicon {
        0% {}

        100% {
            height: 6rem;
            top: 8vh;
            left: -14vw;
        }
    }
}

@media (max-width: 903px) {
    @keyframes moveicon {
        0% {}

        100% {
            height: 6rem;
            top: 8vh;
            left: -17vw;
        }
    }
}

@media (max-width: 767px) {
    .first__container {
        width: 80vw;
        height: 10vh;
        left: 10vw;
        top: 50vh;
        transform: translateY(-50%);
    }

    #disappear {
        clip-path: polygon(0 0,
                0 100%,
                15% 100%,
                15% 35%,
                85% 35%,
                85% 65%,
                15% 65%,
                15% 100%,
                100% 100%,
                100% 0);
    }

    .second__icon {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        /* width: 50vw;
        height: 30vh;
        left: 25vw;
        top: 35vh; */
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: white;
        animation: removebackground .3s ease forwards, moveicon 1.5s ease forwards;
        animation-delay: 3s;
    }

    .second__icon img {
        width: 4rem;
    }

    @keyframes moveicon {
        0% {}

        100% {
            height: 4rem;
            top: 2vh;
            left: -19vw;
        }
    }

    .first__container>p {
        font-size: 1.3rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
    }

    .landing__container {
        margin: 3rem;
    }

    .function__container {
        display: flex;
    }

    .main__img__container,
    .function__img__right,
    .function__img__left {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .function__img__right,
    .function__img__left {
        width: 50%;
        height: 50%;
    }

    .main__img__container>img,
    .function__img__right>img,
    .function__img__left>img {
        object-fit: cover;
        overflow: hidden;
    }

    .description__left,
    .description__right {
        display: flex;
        gap: var(--gap-value);
        align-items: center;
        justify-content: center;
    }

    .description__left {
        flex-wrap: wrap-reverse;
    }

    .description__right {
        flex-wrap: wrap;
    }

    .function__icon {
        display: none;
        /* 아이콘이나 실제 사진 중 하나만 보이게 하는게 나을듯 */
    }

    .function__name,
    .function__detail {
        text-align: center;

    }

    .function__name,
    .service__title {
        font-size: 1.5rem;
    }

    .function__detail,
    .description {
        font-size: 0.9rem;
    }

    .service__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .service__icon,
    .service__icon>img {
        width: 60px;
        height: 60px;
    }

    .service__name {
        font-size: 1.3rem;
    }

    .service__detail {
        font-size: 0.9rem;
        height: 50px;
    }
}

@media (max-width: 625px) {
    @keyframes moveicon {
        0% {}

        100% {
            height: 4rem;
            top: 2vh;
            left: -25vw;
        }
    }

    .function__container {
        padding-top: 0;
        margin-top: 0;
    }
}