@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --padding-lr: 8rem;
    --color-line: #C2C2C2;
    --color-yellow-1: #FFCF33;
    --color-yellow-2: #FFD95C;
    --color-yellow-3: #FFECAD;
    --color-yellow-4: #FEF9DF;
    --gap-value: 20px;
    --padding-value: 8rem;
}
body, a {
    font-family: "Pretendard", sans-serif;
}

.main__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--gap-value);
    padding: 0 var(--padding-value);
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
}

.description {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.logo {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo img {
    object-fit: cover;
    overflow: hidden;
    height: 100%;
}
.select__container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

#admin_btn, #auth_btn, #select_btn {
    border: 2px solid #ffcf33;
    background-color: #FFFFFF;
    border-radius: 1.2rem;
    width: 7rem;
    height: 3.2rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

#admin_btn:hover, #auth_btn:hover, #select_btn:hover {
    transform: translateY(-3px);
    background-color: #ffcf33;
}

#admin_btn > a, #auth_btn > a, #select_btn > a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
}



@media (max-width: 767px) {
    body {
        box-sizing:border-box;
    }
    .main__container {
        box-sizing:border-box; 
        padding: 3rem;
    }
    .select__container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


}
