:root {
    --padding-lr: 8rem;
    --color-line: #A7A7A7;
    --color-yellow-1: #FFCF33;
    --color-yellow-2: #FFD95C;
    --color-yellow-3: #FFECAD;
    --color-yellow-4: #FEF9DF;
    --gap-value: 20px;
    --padding-value: 8rem;
}

#admin_btn, #auth_btn, #select_btn {
    border: 2px solid var(--color-yellow-1);
    background-color: var(--color-yellow-1);
    border-radius: 1.2rem;
    width: 7rem;
    height: 3.2rem;
}

#admin_btn > a, #auth_btn > a, #select_btn > a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

.main__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--gap-value);
    padding: 0 var(--padding-value);
    justify-content: center;
    align-items: center;
}