{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <script src="https://kit.fontawesome.com/ff7a5a86fb.js" crossorigin="anonymous"></script>
  <title>동아리타임!</title>
  {% block extra_head %}{% endblock extra_head %}
  {% block head %}{% endblock head %}
</head>

<body>
  {% include 'header.html'%}
  {% block content %}{% endblock%}
  {% include 'footer.html'%}

</body>

</html>
