{% extends 'base.html' %}
{% load static %}

{% block content %}
<hr>
<div class="auth">
    <form action="{% url 'landing:club_auth' %}" method="POST" enctype="multipart/form-data" class="auth-form">
        {% csrf_token %}
        <div class="auth_frame">
            <div class="auth_title">
                <h2>동아리 인증 페이지</h2>
            </div>
            <div class="auth_main">
                {{ form }}
            </div>
            <div class="auth_btn">
                <button type="submit" class="auth-btn">인증하기</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}