{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/landing/club_auth.css' %}" />
<div class="auth">
    <form action="" method="POST" enctype="multipart/form-data" class="auth-form">
        {% csrf_token %}
        <div class="auth_frame">
            <div class="auth_title">
                <h2>동아리 인증 페이지</h2>
            </div>
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="auth_main">
                <div class="auth_name">
                    동아리 이름 : 
                    <input type="text" name="auth_name">
                </div>
                <div class="auth_code">
                    동아리 인증 코드 : 
                    <input type="text" name="auth_code">
                </div>
            </div>
            <div class="auth_btn">
                <button type="submit" class="auth-btn">인증하기</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}