{% load static %}
{% comment %}
<!-- {% extends 'header.html'%} -->
 {% endcomment %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/landing/first.css' %}" />

</head>

<body>
    <div class="main__container">
        <div class="logo">로고</div>
        <div class="description">당신은 동아리 관리자인가요, 회원인가요?</div>
        <div id="select__container">
            <button id="admin_btn"><a href="{% url 'community:create_club' %}">
                    <div id="select__box">
                        <div id="icon__box">👑</div>관리자
                    </div>
                </a></button>
            <button id="member_btn"><a href="{% url 'landing:club_auth' %}">
                    <div id="select__box">
                        <div id="icon__box">👥</div>회원
                    </div>
                </a></button>
        </div>
    </div>
</body>

</html>