{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/mypage/mypage.css' %}">
<link rel="stylesheet" href="{% static 'css/users/change_password.css' %}">

<div class="manage_clubs__body">
  <div class="title__container">
    <h1 class="page__title">비밀번호 변경 🔐</h1>
    <hr class="page__title_hr">
  </div>
  <form method="post" action="{% url 'landing:change_password' %}">
    {% csrf_token %}
    <div class = "changepassword-form">
      <div class="changepassword-form-container">
        <div class="form-group">
          <label for="id_old_password">기존 비밀번호</label>
          {{ form.old_password }}    
        </div>
        <div class="form-group">
            <label for="id_new_password1">새 비밀번호</label>
            {{ form.new_password1 }}  
        </div>
        <div class="form-group">
            <label for="id_new_password2">새 비밀번호 확인</label>
            {{ form.new_password2 }}  
        </div>
        <div class="message-container">
          {% if messages %}
          <ul>
              {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class = "button-container">
          <button type="submit" class="button">비밀번호 변경</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}