{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/users/signup.css' %}">
  <link rel="stylesheet" href="{% static 'css/users/change_password.css' %}">

  <title>비밀번호 변경</title>
</head>
<body>
  <div id="changepassword-container">
    <h3>비밀번호 변경</h3>
    <form method="post" action="{% url 'landing:change_password' %}">
      {% csrf_token %}
      <div class = "changepassword-form">
        <div class="form-group">
          <label for="id_old_password">기존 비밀번호</label>
          {{ form.old_password }}    
        </div>
        <div class="form-group">
            <label for="id_new_password1">새 비밀번호</label>
            {{ form.new_password1 }}  
        </div>
        <div class="form-group">
            <label for="id_new_password2">새 비밀번호 확인</label>
            {{ form.new_password2 }}  
        </div>
      </div>
      <div id="message-container">
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class = "button-container">
        <button type="submit" class="button">비밀번호 변경</button>
      </div>
    </form>
  </div>
</body>
</html>


{% endblock %}