{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/users/find_username.css' %}">
<link rel="stylesheet" href="{% static 'css/users/signup.css' %}">

    <div id="findusername-container">
        <h3>아이디 찾기</h3>
        <form method="post" action="{% url 'landing:find_username' %}">
            {% csrf_token %}
            <div class="findusername-form">
                <div class="form-group">
                    <label for="name">사용자 이름</label>
                    <input type="text" name="name" id="name" placeholder="실명" value="{{ form.name.value|default_if_none:'' }}">
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="email" name="email" id="email" placeholder="이메일" value="{{ form.email.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="button-container">
                <button type="submit" class="button">아이디 찾기</button>
            </div> 
            <div class ="message-container">
                {% if form.errors %}
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li>{{ errors|striptags }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </form>
    </div>
    </div>
</body>
</html>

{% endblock %}