{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/users/find_username.css' %}">
        <link rel="stylesheet" href="{% static 'css/users/signup.css' %}">
    <title>아이디찾기</title>
</head>
<body>
    <div id="findusername-container">
        <h3>아이디 찾기</h3>
        <form method="post" action="{% url 'landing:find_username' %}">
            {% csrf_token %}
            <div class="findusername-form">
                <div class="form-group">
                    <label for="name">사용자 이름</label>
                    <input type="text" name="name" id="name" placeholder="실명으로 입력" value="{{ form.name.value|default_if_none:'' }}">
                </div>
            </div>
            <div class="button-container">
                <button type="submit" class="button">아이디 찾기</button>
            </div> 
            <div class ="message-container">
                {% if username %}
                    <p>사용자의 아이디는: {{ username }} 입니다.</p>
                {% endif %}
            </div>
        </form>
    </div>
    </div>
</body>
</html>

{% endblock %}
