
{% block content %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3a115195d8.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="login-container">
        <div id="header">
            <div id="back-button">
                <a href="{% url 'landing:main' %}">
                </a>
            </div>
            <h2>로그인</h2>
        </div>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post" action="{% url 'landing:login' %}">
            {% csrf_token %}
            <label for="username">아이디 :</label>
            <input id="username" name="username" type="text" placeholder="아이디">
            <label for="password">비밀번호 :</label>
            <input id="password" name="password" type="password" placeholder="비밀번호">
            <input type="submit" value="로그인">
            <h3><a href='{% url "landing:change_password" %}'>비밀번호 찾기</h3>
            <h3><a href='{% url "landing:signup" %}'>회원가입</h3>
        </form>
    </div>
</body>
</html>
{% endblock %}