#club-list {
    list-style-type: none;
    padding: 0 8rem;
    margin: 2rem 0;
}

#club-list li {
    background-color: #F7F7F7;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#club-list li .club-name {
    font-weight: bold;
}

.club-name {
    display: inline-block;
    max-width: 20rem; /* 원하는 최대 너비 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#club-list li .button-container {
    display: flex;
    gap: 10px;
}

.manage_clubs__btn {
    background-color: var(--color-yellow-1);
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.manage_clubs__btn:hover {
    background-color: var(--color-yellow-2);
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 반응형 스타일 */
@media (max-width: 1200px) {
    
}

@media (max-width: 1024px) {
    :root {
        --padding-value: 2rem;
    }

    .title__container {
        padding: 0;
    }

    #club-list {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .club-name {
        max-width: 9rem;
    }
}

@media (max-width: 570px) {
    .manage_clubs__body {
        padding: 0 6rem;
    }

    .page__title {
        font-size: 16px;
    }

    .club-name {
        font-size: 12px;
        max-width: 9rem;
    }

    .club-list li {
        padding: 0.7 1rem;
    }

    .manage_clubs__btn {
        padding: 0.2rem 0.7rem;
        font-size: 12px;
    }
}

@media (max-width: 470px) {
    .club-name {
        font-size: 12px;
        max-width: 4rem;
    }
}