:root {
    --padding-lr: 8rem;
    --color-line: #A7A7A7;
    --color-yellow-1: #FFCF33;
    --color-yellow-2: #FFD95C;
    --color-yellow-3: #FFECAD;
    --color-yellow-4: #FEF9DF;
    --gap-value: 20px;
    --padding-value: 8rem;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    font-family: "Pretendard", sans-serif;
}

.mypage__body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--padding-value);
}
.manage_clubs__body {
    height: 500px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--padding-value);
}
button {
    background-color: var(--color-yellow-1);
    border: 2px solid var(--color-yellow-1);
    border-radius: 1.2rem;
    padding: .2rem .5rem;
    color: white;
    cursor: pointer;
    border: 2px solid var(--color-yellow-1);
    color:var(--color-yellow-1);
    background-color: #ffffff;
}
.webpush_btn{
    color: var(--color-yellow-1);
    font-weight: bold;
}
#alert{
    width: 25px;
    height: 25px;
}
#alert_icon{
    padding-top: 1px;
    width: 25px;
    height: 25px;
}
#webpush-subscribe-button{
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}
#webpush-subscribe-button:hover{
    transform: translateY(-3px);
    background-color: var(--color-yellow-1);
    border: 2px solid var(--color-yellow-1);
    color: white;
}
.title__container {
    padding: 0 var(--padding-value);
    margin-bottom: 1rem;
}
.webpush_btn{
    margin: 1rem 0;
    display: flex;
}
#webpush-message{
    display: none !important;
}
.page__title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.page__title_hr {
    padding: 0 var(--padding-value);
    color: #A7A7A7;
}

.decoration__box {
    background-color: var(--color-yellow-4);
    border-radius: 10px;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin: 2rem 8rem 2rem 8rem;
    justify-content: center;
    flex-direction: column;
    /* margin: 1rem;*/
}

.icon__container {
    width: 40px;
    height: 40px;
    display: flex;
    background-size: contain;
    /* margin-right: 15px; */
    align-items: center;
    justify-content: center;
    font-size: -webkit-xxx-large;
    padding: 2rem;
    /* margin: 2rem;*/
}

.icon__container__text {
    font-size: 18px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.content__container__1 {
    margin: 0 8rem;
}

.content__container__2 {
    margin: 0 6rem;
}

.content__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 1rem;
}

.content__container__text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*gap: 2rem;*/
    margin-bottom: 2rem;
}

.func__description__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.function__container {
    background-color: var(--color-yellow-3);
    display: flex;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    /* transition: background-color 0.3s; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.function__container:hover {
    background-color: var(--color-yellow-2);
}

.func__title {
    font-size: 18px;
    font-weight: 900;
    margin: 15px;
}

.func__description {
    font-size: 14px;
    font-weight: 600;;
    color: #555;
}

.func__description__1 {
    padding-left: 1.5rem;
}

.func__description__3 {
    padding-right: 1rem;
}

.func__description__4 {
    padding-left: 1.5rem;
}

.func__description__6 {
    padding-right: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 반응형 스타일 */
@media (max-width: 1200px) {
    :root {
        --padding-value: 4rem;
    }

    .mypage__body, .manage_clubs__body {
        padding: 0 var(--padding-value);
    }

    .decoration__box {
        margin: 2rem 4rem;
    }

    .content__container__1 {
        margin: 0 4rem;
    }

    .content__container__2 {
        margin: 0 2rem;
    }
    
}

@media (max-width: 1024px) {
    :root {
        --padding-value: 2rem;
    }

    .title__container {
        padding: 0;
    }

    .function__container {
        padding: 5px 20px;
    }

    .decoration__box {
        margin: 2rem 0;
    }

    .content__container__1 {
        margin: 0;
    }

    .content__container__2 {
        margin: 0 -2rem;
    }

    .func__title {
        font-size: 13px;
    }

    .func__description {
        font-size: 11px;
    }
    .page__title_hr {
        margin: 0 0;
        color: #A7A7A7;
    }
}

@media (max-width: 768px) {
    :root {
        --padding-value: 1rem;
    }

    .mypage__body {
        padding: 0 6rem;
    }

    .page__title {
        font-size: 20px;
    }

    .title__container {
        padding: 0;
    }

    .content__container {
        margin-bottom: 2rem;
    }

    .content__container__2,
    .content__container__text {
        display: none;
    }

    .icon__container {
        padding: 2rem 0 1rem 0;
    }

    .decoration__box {
        margin: 2rem 1rem;
    }

    .content__container__1 {
        margin: 0 1rem;
    }

    .icon__container__text {
        font-size: 13px;
        padding: 0rem 0rem 1rem 0;
        gap: 2rem;
    }

    .function__container {
        padding: 3px;
    }

    .func__title {
        font-size: 11px;
    }

    .func__description__1 {
        padding-left: 0;
    }

    .func__description__3 {
        padding-right: 0;
    }
}

@media (max-width: 570px) {
    .mypage__body {
        padding: 0;
    }

    .title__container {
        padding: 0 6rem;
    }

    .page__title {
        font-size: 16px;
    }

    .icon__container {
        font-size: xx-large;
        padding: 1rem;
    }

    .func__title {
        font-size: 11px;
    }

    .decoration__box {
        margin: 2rem 4rem;
    }

    .content__container {
        margin-bottom: 1rem;
        gap: 1rem;
    }

    .content__container__1 {
        margin: 0 4rem;
    }
}

@media (max-width: 480px) {
    .title__container {
        padding: 0 3rem;
    }
    .decoration__box {
        margin: 2rem 2.5rem;
    }

    .page__title_hr {
        padding: 0;
    }

    .content__container__1 {
        margin: 0 2.5rem;
    }

    .func__title {
        font-size: 10px;
    }
}